@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";

@theme{
    --font-Stacksans: "Stack Sans Headline", sans-serif;
}

:root {
    --color-primary: black; 
    --color-secondary: white;
   --color-tertiary: gray;
   --color-extra: #D3E97A;
   --color-buttonbg: rgba(63, 62, 62, 0.973);
}