@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
    --font-roboto: "Roboto", sans-serif;
}

:root {
    --color-primary: black; 
    --color-secondary: white;
   --color-tertiary: gray;
   --color-extra: #D3E97A;
   --color-buttonbg: rgba(63, 62, 62, 0.973);
}